<header>
    <nav>
        <a href="/">LiveStock</a>
        <ul>
            <li><a href="/stocks">Stocks</a></li>
            <li><a href="/stocks/new">New stock</a></li>
        </ul>
    </nav>
</header>